{
  "crossbar": {
    "host": "HOST",
    "ticket": "TICKET"
  },
  "actuators": [
    {
      "_id": "_id",
      "type": "TYPE",
      "pattern": "PATTERN",
      "OUTPUT": 2,
      "INPUT": 3
    }
  ]
}
